<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\ESDB.accdb;"/>
      <add name="excelPath" connectionString="\templates\emkansanji.xlsx"/>
      <add name="excelBasePath" connectionString="D:\امکان سنجی\"/>
      <add name="saveAsFilePath" connectionString=""/>
    </connectionStrings>

</configuration>